<div class="single-order">
  <mat-tab-group>
    <mat-tab label="Immobilier">
      <table class="single_table">
        <tr>
          <td colspan="2"><span>Adresse:</span>{{data.data.immobilier.adresse}}</td>
          <td><span>NPA:</span>{{data.data.immobilier.npa}}</td>
          <td><span>Localite:</span>{{data.data.immobilier.localite}}</td>
        </tr>
        <tr>
          <td colspan="2"><span>Precedent locataire:</span>{{data.data.immobilier.precedentLoc}}</td>
          <td colspan="2"><span>Référence:</span>{{data.data.immobilier.referenceObjet}}</td>
        </tr>
        <tr>
          <td><span>Pieces:</span>{{data.data.immobilier.piece}}</td>
          <td><span>Etage:</span>{{data.data.immobilier.etage}}</td>
          <td><span>Loyer:</span>{{data.data.immobilier.loyerNet}}</td>
          <td><span>Charges:</span>{{data.data.immobilier.charges}}</td>
        </tr>
        <tr>
          <td colspan="2"><span>Parking:</span>{{data.data.immobilier.parking}}</td>
          <td colspan="2"><span>Charges:</span>{{data.data.immobilier.chfCharges}}</td>
        </tr>
        <tr>
          <td colspan="2">
            <span>Date d' ammenagement:</span>
            {{ data.data.immobilier.dateDemmenagementSouhaitee | date: 'dd-MM-yyyy' }}
          </td>
          <td>
            <span>Date de visite</span>
            {{data.data.immobilier.dateDeVisite | date: 'dd-MM-yyyy' }}
          </td>
        </tr>
      </table>
    </mat-tab>
    <mat-tab label="Locataire">
      <table class="single_table">
        <tr>
          <td>
            <span>Genre</span>
            {{data.data.locataire.locataire}}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span>Nom:</span>
            {{data.data.locataire.nom}}
          </td>
          <td colspan="2">
            <span>Prenom:</span>
            {{data.data.locataire.prenom}}
          </td>
        </tr>
        <tr>
          <td>
            <span>Adresse actuelle:</span>
            {{data.data.locataire.adresseActuelle}}
          </td>
          <td>
            <span>Adresse legale:</span>
            {{data.data.locataire.adresseLegale}}
          </td>
          <td>
            <span>NPA:</span>
            {{data.data.locataire.npa}}
          </td>
          <td>
            <span>Localite:</span>
            {{data.data.locataire.localite}}
          </td>
        </tr>
        <tr>
          <td>
            <span>Nationalite:</span>
            {{data.data.locataire.nationalite}}
          </td>
          <td>
            <span>Lieu d' origine:</span>
            {{data.data.locataire.lieuOrigine}}
          </td>
          <td>
            <span>Date de naissaince:</span>
            {{data.data.locataire.dateDeNaissance | date: 'dd-MM-yyyy'}}
          </td>
          <td>
            <span>Etat civil:</span>
            {{data.data.locataire.etatCivil}}
          </td>
        </tr>
        <tr>
          <td>
            <span>Email:</span>
            {{data.data.locataire.email}}
          </td>
          <td>
            <span>Telephone fixe:</span>
            {{data.data.locataire.telephoneFixe}}
          </td>
          <td>
            <span>Telephone professionel:</span>
            {{data.data.locataire.telephoneProfessionel}}
          </td>
          <td>
            <span>Portable:</span>
            {{data.data.locataire.portable}}
          </td>
        </tr>
        <tr>
          <td>
            <span>permis:</span>
            {{data.data.locataire.permisType}}
          </td>
          <td>
            <span>Profession:</span>
            {{data.data.locataire.profession}}
          </td>
          <td>
            <span>Employeur:</span>
            {{data.data.locataire.employeur}}
          </td>
          <td>
            <span>Depuis:</span>
            {{data.data.locataire.depuis | date}}
          </td>
        </tr>
        <tr>
          <td>
            <span>Revenue mensuel:</span>
            {{data.data.locataire.revenueMensuel}}
          </td>
          <td>
            <span>Gerance actuelle:</span>
            {{data.data.locataire.geranceActuelle}}
          </td>
          <td>
            <span>Loyer actuelle:</span>
            {{data.data.locataire.loyerActuelle}}
          </td>
          <td>
            <span>Charges:</span>
            {{data.data.locataire.charges}}
          </td>
        </tr>
        <tr>
          <td>
            <span>Poursuites:</span>
            {{data.data.locataire.poursuites}}
          </td>
          <td>
            <span>Protection:</span>
            {{data.data.locataire.protection}}
          </td>
        </tr>
      </table>
    </mat-tab>
    <mat-tab label="Co-titulaire" *ngIf="data.data.coTitulaire.portable">
      <table class="single_table">
        <tr>
          <td>
            <span>Genre:</span>
            {{data.data.coTitulaire.locataire}}
          </td>
        </tr>
        <tr>
          <td>
            <span>Nom:</span>
            {{data.data.coTitulaire.nom}}</td>
          <td>
            <span>Prenom:</span>
            {{data.data.coTitulaire.prenom}}
          </td>
        </tr>
        <tr>
          <td>
          <span>Adresse actuelle:</span>
          {{data.data.coTitulaire.adresseActuelle}}
          </td>
          <td>
            <span>Adresse legale:</span>
            {{data.data.coTitulaire.adresseSiDifferente}}
          </td>
          <td>
            <span>NPA :</span>
            {{data.data.coTitulaire.npa}}
          </td>
          <td>
            <span>Localite:</span>
            {{data.data.coTitulaire.localite}}
          </td>
        </tr>
        <tr>
          <td>
            <span>Nationalite:</span>
            {{data.data.coTitulaire.nationalite}}
          </td>
          <td>
            <span>Lieu d'origine:</span>
            {{data.data.coTitulaire.lieuDorigine}}
          </td>
          <td>
            <span>Date ne naissance:</span>
            {{(data.data.coTitulaire.dateDeNaissance) ? (data.data.coTitulaire.dateDeNaissance | date: 'dd-MM-yyyy') : '' }}
          </td>
          <td>
            <span>Etat civil:</span>
            {{data.data.coTitulaire.etatCivil}}
          </td>
        </tr>
        <tr>
          <td>
            <span>Email:</span>
            {{data.data.coTitulaire.email}}
          </td>
          <td>
            <span>Telephone fixe:</span>
            {{data.data.coTitulaire.telephoneFixe}}
          </td>
          <td>
            <span>Telephone professionel:</span>
            {{data.data.coTitulaire.telephoneProfessionel}}
          </td>
          <td>
            <span>Portable:</span>
            {{data.data.coTitulaire.portable}}
          </td>
        </tr>
        <tr>
          <td>
            <span>Permis:</span>
            {{data.data.coTitulaire.permis}}
          </td>
          <td>
            <span>Profession:</span>
            {{data.data.coTitulaire.profession}}
          </td>
          <td>
            <span>Employeur:</span>
            {{data.data.coTitulaire.employeur}}
          </td>
          <td>
            <span>Depuis:</span>
            {{data.data.coTitulaire.depuis}}
          </td>
        </tr>
        <tr>
          <td>
            <span>Revenue mensuel:</span>
            {{data.data.coTitulaire.revenueMensuel}}
          </td>
          <td>
            <span>Gerance actuelle:</span>
            {{data.data.coTitulaire.geranceActuelle}}
          </td>
          <td>
            <span>loyer actuelle:</span>
            {{data.data.coTitulaire.loyerActuelle}}
          </td>
          <td>
            <span>Charges:</span>
            {{data.data.coTitulaire.poursuites}}
          </td>
        </tr>
        <tr>
          <td>
            <span>Poursuites:</span>
            {{data.data.coTitulaire.poursuites}}
          </td>
          <td>
            <span>Protection:</span>
            {{data.data.coTitulaire.protection}}
          </td>
        </tr>
        <tr>
          <td>
            <span>Si tuteur:</span>
            {{data.data.coTitulaire.siTuteur}}
          </td>
        </tr>
      </table>
    </mat-tab>
    <mat-tab label="Plus de details">
      <table class="single_table">
        <tr>
          <td>
            <span>Logement:</span>
            {{data.data.plusDetails.logement}}
          </td>
          <td>
          <span>Noms du titulaire:</span>
          {{data.data.plusDetails.nomsDuTitulaireOuCoTitulaire}}
          </td>
        </tr>
        <tr>
          <td>
          <span>Occupants adultes:</span>
          {{data.data.plusDetails.occupantsAdultes}}
          </td>
          <td>
          <span>Occupants enfants:</span>
          {{data.data.plusDetails.occupantsEnfants}}
          </td>
        </tr>
        <tr>
          <td>
          <span>Liste des animaux:</span>
          {{data.data.plusDetails.animaux}}
          </td>
          <td>
            <span>Instruments:</span>
            {{data.data.plusDetails.instruments}}
          </td>
        </tr>
        <tr>
          <td>
          <span>Plaques du vehicule:</span>
          {{data.data.plusDetails.noPlaques}}
          </td>
        </tr>
        <tr>
          <td>
          <span> Contrat de bail actuel résilié:</span>
          {{data.data.plusDetails.siBailResilie}}
          </td>
          <td>
          <span>Resilie par le:</span>
          {{data.data.plusDetails.resiliePar}}
          </td>
        </tr>
        <tr>
          <td>
          <span>Motif du demenagement:</span>
          {{data.data.plusDetails.motifDuDemenagement}}
          </td>
        </tr>
      </table>
    </mat-tab>
    <mat-tab label="Fichiers">
        <table class="files">
        <tr *ngFor="let file of data.data.attachement;">
          <td>{{file.filename}}</td>
          <td>{{file.name}}</td>
          <td>
            <a href="{{file.src}}">
              <mat-icon>get_app</mat-icon>
            </a>
          </td>
        </tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>


<!--  <mat-icon><a href="{{file.src}}" download>get_app</a></mat-icon>-->
