.file_form {
  position: relative;
  mat-select-panel {

  }
  form {
    display: inline-block;

    .file_upload {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      font-size: 14px;
    }
  }
  button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: white;
    font-size: 14px;
    top:0;
    bottom:0;
    left: 100px;
    outline: none;
  }
}

.added_files {
  margin-top: 20px;
  .added_file {
    position: relative;
    display: inline-block;
    img {
      width: 150px;
      height: 150px;
      margin-right: 10px;
    }
    .removeImg {
      visibility: hidden;
      width: 20px;
      color: red;
      position: absolute;
      right: 20px;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .added_file:hover {
    .removeImg {
      visibility: visible;
      cursor: pointer;
    }
  }
}
