<div class="order-table-container">
  <table class="order-table" border="1">
    <thead>
      <th>Nom du client</th>
      <th>Reference objet</th>
      <th>Date d' amenagement souhaite</th>
      <th colspan="2">Actions</th>
    </thead>
    <tbody>
      <ng-container  *ngFor="let order of orders">
        <tr>
          <td>{{order.locataire.nom}} {{order.locataire.prenom}}</td>
          <td>{{order.immobilier.referenceObjet}}</td>
          <td>{{order.immobilier.dateDemmenagementSouhaitee.toDate('M', 'D', 'Y')}}</td>
          <td><mat-icon class="open" matTooltip="click to open" matTooltipPosition="left" (click)="showDetails(order.id)" #{{order.id}}>open_in_new</mat-icon></td>
          <td><mat-icon class="delete" matTooltip="delete order" matTooltipPosition="right">close</mat-icon></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
