.order-table-container {
  padding: 0 30px;
  font-size: 12px;
  h2 {
    font-size: 13px;
  }
  mat-list-item {
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    mat-icon {
      cursor: pointer;
    }
  }
}
