<div class="image-uploader">
  <div class="file_form" >
    <mat-form-field>
      <mat-label>Attachement</mat-label>
      <mat-select id="filename" [(ngModel)]="filename">
        <mat-option value="identite">Copie de la pièce d’identité où permis de séjour</mat-option>
        <mat-option value="attestation de domicile">Attestation de domicile</mat-option>
        <mat-option value="attestation de l’Office des poursuites">Attestation ORIGINALE de l’Office des poursuites datant de moins de 3 mois</mat-option>
        <mat-option value="fiche de salaire">Fiches de salaire / dernière taxation définitive d’impôt pour les indépendants</mat-option>
      </mat-select>
    </mat-form-field>

    <label for="file_upload" class="file_upload">
      <button (click)="clickInput()" class="fa fa-cloud-upload">upload files</button>
    </label>
    <input type="file" (change)="onSelectFile($event)" name="file" id="file_upload" hidden/>
  </div>
  <div *ngIf="localfiles?.length > 0">
    <div class="added_files" >
      <table cellspacing="0">
        <tr *ngFor="let file of localfiles;">
          <td><mat-icon>attach_file</mat-icon></td>
          <td>({{filename}})</td>
          <td>{{file.name}}</td>
          <td><mat-icon (click)="removeFile(file.name)">delete</mat-icon></td>
        </tr>
      </table>
    </div>
  </div>
</div>
