.order-table-container {
  z-index: 1;
  width: 80%;
  margin: 20px auto;

  .order-table {
    width: 100%;
    border: 1px solid #919191;
    border-collapse: collapse;
    th, td {
      text-align: center;
      color: #082535;
      cursor: auto;
    }
    .delete {
      color: #ff2f6b;
    }
    .open {
      color: green;
    }
    mat-icon {
      cursor: pointer;
    }
    .view_order {
      width: 100%;
      border: 1px solid #919191;
    }
  }
}
