<div class="client-form">
  <mat-horizontal-stepper #stepper [linear]="true">

    <!-- real estate details -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" autocomplete="on">
        <ng-template matStepLabel>Details d' immobilier</ng-template>
        <div class="asset-id">
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Adresse</mat-label>
                  <input matInput formControlName="adresse">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>NPA</mat-label>
                  <input matInput formControlName="npa" type="number" min="0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Localite</mat-label>
                  <input matInput formControlName="localite" type="string">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Piece(s)</mat-label>
                  <input matInput formControlName="piece" type="number" min="0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Etage</mat-label>
                  <input matInput formControlName="etage" type="number" min="0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Precedent location</mat-label>
                  <input matInput formControlName="precedentLoc">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Loyer net</mat-label>
                  <span matPrefix> CHF &nbsp;</span>
                  <input matInput formControlName="loyerNet" type="number" min="0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Charges</mat-label>
                  <span matPrefix> CHF &nbsp;</span>
                  <input matInput formControlName="charges" type="number" min="0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Reference objet</mat-label>
                  <input matInput formControlName="referenceObjet">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Parking</mat-label>
                  <mat-select formControlName="parking">
                    <mat-option  *ngFor="let parking of parkingTypes;" [value]="parking">
                      {{parking}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Charges</mat-label>
                  <span matPrefix> CHF &nbsp;</span>
                  <input matInput formControlName="chfCharges" type="number" min="0" >
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Date d' ammenagement souhaitée</mat-label>
                  <input matInput formControlName="dateDemmenagementSouhaitee" [matDatepicker]="pickerAmmenagement" [min] = "todayDate"  [max] = "maxDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerAmmenagement"></mat-datepicker-toggle>
                  <mat-datepicker #pickerAmmenagement startView="year" [startAt]="todayDate"></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Date de visite</mat-label>
                  <input matInput formControlName="dateDeVisite" [matDatepicker]="pickervisite" [min] = "todayDate"  [max] = "maxDate">
                  <mat-datepicker-toggle matSuffix [for]="pickervisite"></mat-datepicker-toggle>
                  <mat-datepicker #pickervisite startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <!-- real estate details ends here -->

    <!-- Tenant details -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" autocomplete="on">
        <ng-template matStepLabel>Details du locataire</ng-template>
        <div class="locataire">
          <h2>LOCATAIRE</h2>
          <br />
          <table cellspacing="0">
            <tr>
              <td>
                <mat-radio-group aria-label="Select an option" formControlName="genre">
                  <mat-radio-button value="male">Monsieur</mat-radio-button>
                  <mat-radio-button value="female">Madame</mat-radio-button>
                </mat-radio-group>
              </td>
              <td>
                <mat-checkbox id="CoLocataire" (change)="showColocataireTab()">Tu as un co-locataire</mat-checkbox>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Nom</mat-label>
                  <input matInput formControlName="nom">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Prénom</mat-label>
                  <input matInput formControlName="prenom">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Adresse actuelle</mat-label>
                  <input matInput formControlName="adresseActuelle">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Adresse légale (si differente)</mat-label>
                  <input formControlName="adresseLegale" matInput>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>NPA</mat-label>
                  <input matInput formControlName="npa" type="number" min="0" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Localité</mat-label>
                  <input matInput formControlName="localite" type="string" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Nationalité</mat-label>
                  <input matInput formControlName="nationalite" (keyup)=checkCountry($event)>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Pérmis</mat-label>
                  <mat-select matNativeControl formControlName="permis" [disabled]="disableSelect">
                    <mat-option value="a">A</mat-option>
                    <mat-option value="b">B</mat-option>
                    <mat-option value="c">C</mat-option>
                    <mat-option value="d">D</mat-option>
                    <mat-option value="e">E</mat-option>
                    <mat-option value="f">F</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Lieu d’origine</mat-label>
                  <input matInput formControlName="lieuOrigine">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Téléphone fixe</mat-label>
                  <input matInput formControlName="telephoneFixe" >
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Téléphone professionel</mat-label>
                  <input matInput formControlName="telephoneProfessionel" >
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Téléphone portable</mat-label>
                  <input matInput formControlName="portable">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>E-mail</mat-label>
                  <input matInput formControlName="email">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Date de naissance</mat-label>
                  <input matInput formControlName="dateDeNaissance" [matDatepicker]="pickerLocataire">
                  <mat-datepicker-toggle matSuffix [for]="pickerLocataire"></mat-datepicker-toggle>
                  <mat-datepicker #pickerLocataire startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Etat civil</mat-label>
                  <mat-select matNativeControl formControlName="etatCivil">
                    <mat-option value="celibataire">Célibataire</mat-option>
                    <mat-option value="marrier">Marié</mat-option>
                    <mat-option value="divorce">Divorcé</mat-option>
                    <mat-option value="veuf">Veuf</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Profession</mat-label>
                  <input matInput formControlName="profession">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Employeur</mat-label>
                  <input matInput formControlName="employeur">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Depuis</mat-label>
                  <input matInput formControlName="depuis" [matDatepicker]="pickerLocataireDepuis">
                  <mat-datepicker-toggle matSuffix [for]="pickerLocataireDepuis"></mat-datepicker-toggle>
                  <mat-datepicker #pickerLocataireDepuis startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Revenue mensuel</mat-label>
                  <span matPrefix> CHF &nbsp;</span>
                  <input matInput formControlName="revenueMensuel" type="number" min="0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Gérance actuelle</mat-label>
                  <input matInput formControlName="geranceActuelle">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Loyer actuelle</mat-label>
                  <span matPrefix> CHF &nbsp;</span>
                  <input matInput formControlName="loyerActuelle" type="number" min="0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Charges</mat-label>
                  <span matPrefix> CHF &nbsp;</span>
                  <input matInput formControlName="charges" type="number" min="0">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <label>Avez-vous des poursuites à votre encontre</label>
                <mat-radio-group aria-label="Select an option" formControlName="poursuites">
                  <mat-radio-button value="oui">Oui</mat-radio-button>
                  <mat-radio-button value="non">Non</mat-radio-button>
                </mat-radio-group>
              </td>
              <td>
                <label>Etes-vous au bénéfice d'une mesure de protection de l’adulte</label>
                <mat-radio-group aria-label="Select an option" formControlName="protection" (change)="showTuteurInput()">
                  <mat-radio-button value="oui">Oui</mat-radio-button>
                  <mat-radio-button value="non" selected>Non</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field *ngIf="showTuteur">
                  <mat-label>Si oui, coordonnées du tuteur/curateur</mat-label>
                  <input matInput formControlName="siTuteur">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <button mat-button matStepperPrevious>Précédent</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>

    <!-- tenant details ends here -->

    <!-- co-owner details -->

    <mat-step *ngIf="coLocatiare" [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup" autocomplete="on">
        <ng-template matStepLabel>Details du co-titulaire</ng-template>
        <div class="co_titulaire">
          <h2>CO-TITULAIRE</h2>
          <mat-radio-group aria-label="Select an option" formControlName="coTitulaire">
            <mat-radio-button value="male">Monsieur</mat-radio-button>
            <mat-radio-button value="female">Madame</mat-radio-button>
          </mat-radio-group>
          <br />
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Nom</mat-label>
                  <input matInput formControlName="nom">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Prénom</mat-label>
                  <input matInput formControlName="prenom">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Adresse actuelle</mat-label>
                  <input matInput formControlName="adresseActuelle">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Adresse légale (si differente)</mat-label>
                  <input matInput formControlName="adresseSiDifferente">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>NPA</mat-label>
                  <input matInput formControlName="npa" type="number" min="0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Localité</mat-label>
                  <input matInput formControlName="localite" type="string">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Nationalité</mat-label>
                  <input matInput formControlName="nationalite">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Pérmis</mat-label>
                  <mat-select matNativeControl formControlName="permis">
                    <mat-option *ngFor = "let permit of permisType" [value]="permit">A</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Lieu d’origine</mat-label>
                  <input matInput formControlName="lieuDorigine">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Téléphone fixe</mat-label>
                  <input matInput formControlName="telephoneFixe" >
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Téléphone professionel</mat-label>
                  <input matInput formControlName="telephoneProfessionel" >
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Téléphone portable</mat-label>
                  <input matInput formControlName="portable" >
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>E-mail</mat-label>
                  <input matInput formControlName="email">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Date de naissance</mat-label>
                  <input matInput formControlName="dateDeNaissance" [matDatepicker]="pickerCoTitulaire">
                  <mat-datepicker-toggle matSuffix [for]="pickerCoTitulaire"></mat-datepicker-toggle>
                  <mat-datepicker #pickerCoTitulaire startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Etat civil</mat-label>
                  <mat-select matNativeControl formControlName="etatCivil">
                    <mat-option value="celibataire">Célibataire</mat-option>
                    <mat-option value="marrier">Marié</mat-option>
                    <mat-option value="divorce">Divorcé</mat-option>
                    <mat-option value="veuf">Veuf</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Profession</mat-label>
                  <input matInput formControlName="profession">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Employeur</mat-label>
                  <input matInput formControlName="employeur">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Depuis</mat-label>
                  <input matInput formControlName="depuis" [matDatepicker]="pickerCoTitulaireDepuis">
                  <mat-datepicker-toggle matSuffix [for]="pickerCoTitulaireDepuis"></mat-datepicker-toggle>
                  <mat-datepicker #pickerCoTitulaireDepuis startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Revenue mensuel</mat-label>
                  <span matPrefix> CHF &nbsp;</span>
                  <input matInput formControlName="revenueMensuel" type="number" min="0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Gérance actuelle</mat-label>
                  <input matInput formControlName="geranceActuelle">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Loyer actuelle</mat-label>
                  <span matPrefix> CHF &nbsp;</span>
                  <input matInput formControlName="loyerActuelle" type="number" min="0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Charges</mat-label>
                  <span matPrefix> CHF &nbsp;</span>
                  <input matInput formControlName="charges" type="number" min="0">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <label>Avez-vous des poursuites à votre encontre</label>
                <mat-radio-group aria-label="Select an option" formControlName="poursuites">
                  <mat-radio-button value="male">Oui</mat-radio-button>
                  <mat-radio-button value="female">Non</mat-radio-button>
                </mat-radio-group>
              </td>
              <td>
                <label>Etes-vous au bénéfice d'une mesure de protection de l’adulte</label>
                <mat-radio-group aria-label="Select an option" formControlName="protection">
                  <mat-radio-button value="male">Oui</mat-radio-button>
                  <mat-radio-button value="female">Non</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <button mat-button matStepperPrevious>Précédent</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>

    <!-- co-owner details ends here -->

    <!-- More details -->

    <mat-step [stepControl]="fourthFormGroup">

      <form [formGroup]="fourthFormGroup" autocomplete="on">
        <ng-template matStepLabel>Plus de details</ng-template>
        <div class="other-details">
          <table  cellpadding="0">
            <tr>
              <td>
                <label>Logement</label>
                <mat-radio-group aria-label="Select an option" formControlName="logement">
                  <mat-radio-button value="principale">Principale</mat-radio-button>
                  <mat-radio-button value="secondaire">Secondaire</mat-radio-button>
                </mat-radio-group>
              </td>
              <td>
                <label>Logement occupé par le titulaire/co-titulaire</label>
                <mat-radio-group
                  aria-label="Select an option"
                  formControlName="siOccupeParTitulaireOuCoTitulaire"
                  (change)="updateOccupant($event)"
                >
                  <mat-radio-button value="oui">Oui</mat-radio-button>
                  <mat-radio-button value="non">Non</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Noms du titulaire/co-titulaire</mat-label>
                  <input matInput formControlName="nomsDuTitulaireOuCoTitulaire">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Personne(adultes) qui habiteront l’appartement</mat-label>
                  <input matInput formControlName="occupantsAdultes" type="number">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Les enfants qui habiteront l’appartement</mat-label>
                  <input matInput formControlName="occupantsEnfants" type="number" min="0">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-checkbox formControlName="animaux">Animaux</mat-checkbox>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>le(s)quel(s)</mat-label>
                  <input matInput formControlName="siAnimaux" placeholder="Ex: chien, chat, etc ...">
                  <mat-hint>Liste séparée par des virgules (,)</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-checkbox formControlName="vehicules">Véhicules</mat-checkbox>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Numéro(s) de plaques</mat-label>
                  <input matInput formControlName="noPlaques" (keyup)="toUppercase()">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-checkbox formControlName="siInstruments">Jouez-vous d’un instrument de musique</mat-checkbox>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>le(s)quel(s)</mat-label>
                  <input matInput formControlName="instruments" placeholder="Ex: Piano, guitar, etc ..">
                  <mat-hint>Liste séparée par des virgules (,)</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <label>Votre contrat de bail actuel a-t-il déjà été résilié</label>
                <mat-radio-group aria-label="Select an option" formControlName="siBailResilie">
                  <mat-radio-button value="oui">Oui</mat-radio-button>
                  <mat-radio-button value="non">Non</mat-radio-button>
                </mat-radio-group>
              </td>
              <td>
                <label>Par</label>
                <mat-radio-group aria-label="Select an option" formControlName="resiliePar">
                  <mat-radio-button value="locataire">le locataire</mat-radio-button>
                  <mat-radio-button value="bailleur">le bailleur</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Motif du déménagement</mat-label>
                  <input matInput formControlName="motifDuDemenagement">
                </mat-form-field>
              </td>
            </tr>
          </table>

          <div class="image-uploader">
            <div class="file_form" >

              <mat-form-field>
                <mat-label>sélectionner le type de fichier</mat-label>
                <mat-select name="filename"
                            id="filename"
                            [(ngModel)]="filename"
                            [ngModelOptions]="{standalone: true}"
                >
                  <mat-option *ngFor="let fileType of fileTypes"
                              [value]="fileType"
                  >
                   {{fileType}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <label for="file_upload" class="file_upload">
                <button (click)="clickInput()">attacher le fichier</button>
              </label>
              <input type="file" (change)="onSelectFile($event)" name="file" id="file_upload" accept="image/*, .docx, .doc, .pdf" hidden/>
            </div>
            <div *ngIf="localfiles?.length > 0">
              <div class="added_files" >
                <table cellspacing="0">
                  <tr *ngFor="let file of localfiles;">
                    <td>
                      <mat-icon>attach_file</mat-icon>
                    </td>
                    <td>
                      {{file.filename}}
                    </td>
                    <td>
                      {{file.name}}
                    <td>
                    <td>
                      <mat-icon class="remove" (click)="removeFile(file.name)">close</mat-icon>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <mat-checkbox formControlName="tosAgreement">
            J'ai lu et accepté les <a href="#"> Conditions générales </a> de cet accord
          </mat-checkbox>
        </div>
        <div itoastContainer></div>
        <div>
          <button mat-button matStepperPrevious>Précédent</button>
          <button mat-button (click)="stepper.reset()">Effacer</button>
          <button type="submit" mat-button (click)="submitForm()">Envoyer</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
<!-- more details ends here -->

</div>
