<div class="terms-container">
  <div class="terms">
    <p>
      L’inscription doit être accompagnée, <b>pour tous les titulaires</b> (pas de photo de document, merci)
    </p>
    <ul>
      <li>d’une copie de la pièce d’identité (et permis de séjour)</li>
      <li>d’une attestation de domicile</li>
      <li>d’une attestation ORIGINALE de l’Office des poursuites datant de moins de 3 mois</li>
      <li>des trois dernières fiches de salaire // dernière taxation définitive d’impôt pour les indépendants</li>
    </ul>
    <button mat-raised-button color="primary">Close</button>
  </div>
</div>
